*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #efe7dd url("images/bg.jpg") repeat fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
}

@media (max-width: 768px) {
  main {
    padding: 0 3%;  
  }
}

h1,h2,h3,h4,h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100%;
  font: inherit;
}

time { 
  display: block;
  float: right; 
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  margin-top: -12px
}

p[lang="old-nl"] { 
  color: #777; 
  font-style: italic; 
  margin-bottom: 15px;
}

.message {
  border-radius: 0px 5px 5px 5px;
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  /*position: relative;*/
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
}

.message.sent {
  background-color: #ddf7c8;
  float: right;
}

.message.received {
  background-color: #ffffff;
}

.message.info, .message.blue {
  text-align: center;
  background-color: #fef3c7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px !important;
  max-width: 700px;
}

.message.blue {
  background-color: #e2f3fb;
}

.message>img {
  width: 100%;
}
